:root {
    --green: #4CAF50;
    --darker-green: #1B5E20;
    --red: #F44336;
    --darker-red: #BF0000;
    --blue: #2196F3;
    --dark-blue: #0D47A1;
    --darker-blue: #2979FF;
    --blue-grey: #546E7A;
    --midnight-blue: #34495e;
    --grey: #757575;
    --gold: #FFA000;
    --teal: #00897B;
    --lighter-teal: #26A69A;
    --light-teal: #E0F2F1;
    --darker-teal: #004D40;
    --black-pearl: #1e272e;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: white;
    text-align: center;
    padding: 10px;
}

body {
    background-color: var(--teal);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.side-padding {
    padding: 0 5px;
}


/* Header */

.info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 10px;
    padding-bottom: 20px;
}

.info__item {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 5px 10px;
    color: var(--darker-teal);
    background-color: var(--light-teal);
    text-align: center;
    border-radius: 5px;
}

.info__value {
    font-weight: bold;
}

.days::before,
.less::before,
.avg::before,
.stud::before {
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    margin-right: 10px;
    color: black;
}

.days::before {
    content: "\f073";
    color: var(--darker-green);
}

.less::before {
    content: "\f273";
    color: var(--darker-red);
}

.avg::before {
    content: "\f5a2";
    color: var(--gold);
}

.stud::before {
    content: "\f500";
    color: var(--darker-blue)
}

.table {
    background-color: var(--light-teal);
    border-radius: 4px;
}


/* Table head */

.table__head {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    color: var(--darker-teal);
    padding: 10px;
}

h2 {
    text-align: center;
    display: inline-block;
}

.btn {
    color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
    transition: all .2s ease-in-out;
    white-space: nowrap;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.btn--green {
    background-color: var(--green);
}

.btn--green:hover {
    background-color: var(--darker-green);
}

.btn--red {
    background-color: var(--red);
}

.btn--red:hover {
    background-color: var(--darker-red);
}

.btn--blue {
    background-color: var(--blue);
}

.btn--blue:hover {
    background-color: var(--dark-blue);
}

.add-day,
.remove-day,
.add-student,
.remove-student {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-day::before,
.remove-day::before,
.add-student::before,
.remove-student::before {
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.add-day::before {
    content: "\f271";
}

.remove-day::before {
    content: "\f272";
}

.add-student::before {
    content: "\f055  \f501";
}

.remove-student::before {
    content: "\f056  \f501";
}


/* noselect class restricts user to select text !!!review */

.noselect {
    /* Safari */
    -webkit-user-select: none;
    /* Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
    /* Chrome and Opera */
    user-select: none;
}


/* Table body */

.table__body {
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--lighter-teal);
    border-radius: 3px;
    overflow-y: auto;
}

.student__item {
    padding: 5px;
    margin: 1px;
    color: white;
    background-color: var(--blue-grey);
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
}

.student__title {
    padding: 5px;
    margin: 1px;
    color: white;
    background-color: var(--midnight-blue);
    text-align: center;
    line-height: 1.5;
}

.avg-grade__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 1px;
    color: white;
    background-color: var(--midnight-blue);
    line-height: 1.5;
}

.avg-grade__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 1px;
    color: white;
    background-color: var(--grey);
    line-height: 1.5;
}

.grades {
    display: flex;
    height: 100%;
    overflow-x: auto;
}

.grade__item {
    height: 34px;
    margin: 1px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #ea2027;
    text-align: center;
}

.grade__date {
    height: 34px;
    padding: 5px;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--midnight-blue);
    text-align: center;
    white-space: nowrap;
}

.back-dark-red {
    background-color: #ea2027;
}

.back-orange {
    background-color: #FF6707;
}

.back-yellow {
    background-color: #FFAB00;
}

.back-limegreen {
    background-color: #9CCC65;
}

.back-light-green {
    background-color: #7CB342;
}

.back-dark-green {
    background-color: #388E3C;
}


/* Footer */

footer {
    color: white;
    padding: 20px;
    font-size: 1.5em;
    text-align: center;
}


/* Prompt window */

.prompt {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    color: white;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    animation: .01s linear popAnim;
}

.prompt__window {
    position: relative;
    width: 250px;
    padding: 5px 30px;
    background-color: var(--teal);
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -120%);
}

.prompt__message {
    color: white;
    padding: 10px;
    text-align: center;
}

.prompt__input {
    width: 100%;
    padding: 3px;
    border: 1px solid #fff;
    border-radius: 2px;
}

.prompt__input:focus {
    border: 1px solid var(--black-pearl);
    border-radius: 2px;
}

.prompt__popup {
    display: none;
    width: auto;
    position: absolute;
    text-align: center;
    background-color: var(--red);
    white-space: nowrap;
    line-height: 1.5;
    border-radius: 5px;
    padding: 0 5px;
    top: 8%;
    left: 50%;
    transform: translate(-50%);
    animation: .2s ease-in-out popAnim;
}

@keyframes popAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.prompt__popup::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: var(--red) transparent transparent transparent;
}

.prompt__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0;
}

.btn--ok {
    margin-right: 10px;
}

.show {
    display: initial;
}

.hidden {
    display: none;
}

.animator {
    animation: .2s ease-in-out animate;
}

@keyframes animate {
    100% {
        transform: scale(1.4, 1.4);
    }
}


/* Media Queries */

@media screen and (max-width: 899px) {
    .table__head {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 819px) {
    .table__head {
        grid-template-columns: 1fr 1fr 1fr;
    }
    h2 {
        grid-row: 1 / 3;
    }
    .btn--add-day {
        grid-row: 2 / 3;
    }
    .btn--rm-day {
        grid-row: 2 / 3;
    }
}

@media screen and (max-width: 699px) {
    .info__value {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 519px) {
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.3em;
    }
    .btn {
        white-space: initial;
    }
}

@media screen and (max-width: 449px) {
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.2em;
    }
    .info__value {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 429px) {
    .student__title {
        height: 34px;
    }
    .student__item {
        line-height: initial;
        max-width: 100px;
        white-space: initial;
    }
    .avg-grade__item {
        height: 46px;
    }
    .grade__item {
        height: 46px;
    }
}