:root {
    --green: #27ae60;
    --darker-green: #009432;
    --red: #e74c3c;
    --darker-red: #EA2027;
    --blue: #2980b9;
    --lighter-blue: #3498db;
    --orange: #f39c12;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 10px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* Header */

.info__block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 10px;
}

.info__box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 5px 10px;
    font-weight: bold;
    border: 1px solid black;
}

.table {
    background-color: lightgrey;
    margin: 30px auto;
}


/* Table head */

.table__head {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    display: inline-block;
}

.btn-block {
    grid-column: 2 / 4;
}

.btn {
    color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}

.btn--green {
    background-color: var(--green);
}

.btn--red {
    background-color: var(--red);
}

.btn--orange {
    background-color: var(--orange);
}

.btn--blue {
    background-color: var(--blue);
}


/* noselect class restricts user to select text !!!review */

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}


/* Table body */

.table__body {
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid black;
}

.student__item {
    padding: 5px;
    margin: 1px;
    color: white;
    background-color: grey;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
}

.student__title {
    padding: 5px;
    margin: 1px;
    color: white;
    background-color: #34495e;
    text-align: center;
    line-height: 1.5;
    white-space: nowrap;
}

.avg-grade__item {
    padding: 5px;
    margin: 1px;
    color: white;
    background-color: var(--lighter-blue);
    line-height: 1.5;
    text-align: center;
}

.avg-grade__title {
    padding: 5px;
    margin: 1px;
    color: white;
    background-color: var(--lighter-blue);
    line-height: 1.5;
    text-align: center;
}

.grades {
    display: flex;
    overflow: auto;
}

.grade__item {
    height: 34px;
    margin: 1px;
    padding: 5px;
    color: white;
    background-color: var(--darker-red);
    text-align: center;
}

.grade__date {
    height: 34px;
    padding: 5px;
    margin: 1px;
    color: white;
    background-color: seagreen;
    text-align: center;
    white-space: nowrap;
}


/* Footer */

footer {
    text-align: center;
}